*{
    text-align: center;
}

#loading{
    font-weight: bold;
    font-size: larger;
    margin-top: 20px;
    display: none;
}

#videoContainer, #buttons {
    display: none;
}

#video{
    margin-top: 10px;
    margin-bottom: 10px;
}

